.cadastroArquivo{
    margin-top: 10px;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 50px;
    grid-template-areas: 
    'upload upload'
    'footer footer';
    gap: 5;
    box-sizing: border-box;
}
.cadastroArquivo > input[type="file"].custom-file-input {
    grid-area: upload;
    border: 5px dashed black;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    background-image: url('../../../imgs/upload.png');
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
  }
.footerCadArq{
    grid-area: footer;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footerCadArq > button {
    margin-top: 5px;
   
}
