.header-section {
    background-color: #285AA5 ;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header-section h2 {
    margin-bottom: 10px;
}

.drop-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.207);
}

.cloud-icon {
    text-align: center;
    margin-bottom: 20px;
}

.cloud-icon img {
    width: 80px;
}

.file-selector {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-align: center;

    cursor: pointer;
}

.file-selector-input {
    display: none;
}

.drop-here {
    border: 2px dashed #3498db;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.list-section {
    margin: 20px;
}

.list-title {
    color: #333;
}

.list {
    list-style: none;
    padding: 0;
}

.in-prog {
    background-color: #ABC8E2 ;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.cadastroArquivo {
    text-align: center;
    margin-top: 20px;
}

.footerCadArq {
    margin-top: 20px;
}

.botaoCadastrar {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.erroCad {
    color: #e74c3c;
    margin-top: 10px;
}

.cadSucess {
    color: #2ecc71;
    margin-top: 10px;
}