
.cadastroTurma {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px 60px;
}


.cadTurma {
    margin: 70px auto;
    min-height: 100px;
    min-width: 80%;
    background-color: rgba(255, 255, 255, 0.851);
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(51, 51, 51, 0.507);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
    box-sizing: border-box;
}

.cadTurma>form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.buscarDocente {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.listDocentes {
    width: 100%;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(231, 231, 231);
    padding: 5px;

}

.informacoesTurma {
    width: 300px;
    height: 35px;
    text-indent: 5px;
    outline: none;
    border: 1px solid #000000;
    border-radius: 5px;
}

.buscar {
    height: 35px;
    text-indent: 5px;
    outline: none;
    border: 1px solid #000000;
    border-radius: 5px;
}

.buscarDocente li {
    margin-top: 5px;
    list-style-type: none;
    text-indent: 10px;
}

.listDocentes li:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(190, 190, 190);
}

.docentesSelecionados {
    width: 100%;
    margin-top: 0px;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    padding: 5px;

}

.docentesSelecionados li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.docentesSelecionados li:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(248, 202, 202);
}

.icon {
    color: red;
    background-color: wheat;
    padding: 3px;
    box-sizing: border-box;
    margin-left: 5px;
    margin-top: 2px;
}

.icon:hover {
    color: white;
    background-color: red;
}


#selectHor {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(20, 20, 20);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#selectHor:hover {
    cursor: pointer;
    background-color: rgba(40, 40, 40, 0.951);
    box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.242);
}
.botaoCadTur{
    display: flex;
    justify-content: flex-end;
    float: left;
    gap: 10px;
}
@media screen and (max-width: 1182px) {
    .cadTurma>form{
        justify-content: space-around;
    }
}
@media screen and (max-width: 838px) {
    .cadTurma> form{
        width: 95%;
    }
    .cadTurma>form label{
        width: 100%;
    }
    .cadTurma>form input{
        width: 98%;
    }
    .buscarDocente{
        width: 95%;
    }
}
