.tableCadTur{
    min-height: 100vh;
    padding: 20px 40px;
    box-sizing: border-box;
}
.tableHor{
    margin: 70px auto;
    min-height: 90px;
}
.tableHor .colunaHorarios{
    border-left: none;
    width: 150px;
    padding-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;
}
.tableHor .colunaDias{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    box-sizing: border-box;
}
.opcoesCadastro{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@media screen and (max-width: 1420px){
    .colunaHorarios{
        width: 250px;
        font-size: 0.9em;
    }
    
}
@media screen and (max-width: 1220px){
    .tableHor .colunaHorarios{
        padding-left: 10px;
    }
    .tableHor .colunaDias{
        width: 170px;
    }
}
@media screen and (max-width: 1060px){
    .tableHor .colunaDias{
        width: 150px;
    }
}
@media screen and (max-width: 960px){
    .tableHor .colunaDias{
        width: 130px;
    }
}
@media screen and (max-width: 860px){
    .tableHor .colunaDias{
        width: 110px;
    }
}
@media screen and (max-width: 760px){
    .tableHor .colunaDias{
        width: 90px;
    }
}
@media screen and (max-width: 660px){
    .tableHor .colunaDias{
        width: 70px;
    }
}
@media screen and (max-width: 607px){
    .tableHor{
        font-size: 0.8em;
    }
}