.verComp {
    max-height: 100%;

    gap: 10px;
    padding: 20px 60px;
    box-sizing: border-box;
}

.verDadosComp {
    min-height: 200px;
    width: 80%;
    margin: 70px auto;
    margin-bottom: 20px;
    background-color: #faf7f7;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(51, 51, 51, 0.507);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verDadosComp ul {
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 200px;
    box-sizing: border-box;
}


.verDadosComp li:nth-child(odd) {
    clear: both;
    float: right;
    width: 30%;
}

.verDadosComp li {
    list-style-type: none;
    margin: 0 auto;
    font-size: 1em;
    box-sizing: border-box;
    height: 33.33%;
    display: flex;
    align-items: center;
}

.itens {
    margin-left: 3px;
    color: #494949;
}

.opcoesEdicaoComponente {
    width: 80%;
    margin: 0 auto;
}

.opcoesEdicaoComponente i {
    display: flex;
    align-items: center;
    margin-left: 3px;
    color: white;
}

@media screen and (max-width: 1460px) {
    .verDadosComp li {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1000px) {
    .verDadosComp, .opcoesEdicaoComponente {
        width: 85%;
    }
}
@media screen and (max-width: 700px) {
    .opcoesEdicaoComponente{
        justify-content: space-between;
    }
    .opcoesEdicaoComponente button{
        width: 47%;
    }
}
@media screen and (max-width: 605px) {
    .verDadosComp, .opcoesEdicaoComponente {
        width: 90%;
    }
    .verDadosComp ul{
        display: flex;
        flex-direction: column;
    }
    .verDadosComp li{
        align-items: flex-start;
        width: 100%;
    }
    .verDadosComp li:nth-child(odd){
        clear: right;
        width: 100%;
    }
    
}
@media screen and (max-width: 400px) {
    .verDadosComp, .opcoesEdicaoComponente {
        width: 95%;
        font-size: .8rem;
    }
}
@media screen and (max-width: 300px) {
    .verDadosComp, .opcoesEdicaoComponente {
        font-size: .7rem;
    }
}