.verTurma {
    max-height: 100%;

    gap: 10px;
    padding: 20px 60px;
    box-sizing: border-box;
}

.verDadosTurma {
    margin: 70px auto;
    margin-bottom: 15px;
    min-height: 200px;
    max-width: 80%;
    background-color: #faf7f7;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(51, 51, 51, 0.507);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verDadosTurma ul {
    height: 95%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    box-sizing: border-box;
}
.verDadosTurma li{
    list-style-type: none;
}


.docentesDaTurma>ul {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opcoesDadosTur {
    margin: 0 auto;
    max-width: 80%;
}

.opcoesDadosTur i {
    display: flex;
    align-items: center;
    margin-left: 3px;
    color: white;
}
@media screen and (max-width: 1460px) {
    .verDadosTurma li {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1000px) {
    .verDadosTurma, .opcoesDadosTur {
        width: 85%;
    }
}
@media screen and (max-width: 700px) {
    .opcoesDadosTur{
        justify-content: space-between;
    }
    .opcoesDadosTur button{
        width: 47%;
    }
}
@media screen and (max-width: 605px) {
    .verDadosTurma, .opcoesDadosTur {
        width: 90%;
    }
    .verDadosTurma ul{
        display: flex;
        flex-direction: column;
    }
    .verDadosTurma li{
        align-items: flex-start;
        width: 100%;
    }
    .verDadosTurma li:nth-child(odd){
        clear: right;
        width: 100%;
    }
    
}
@media screen and (max-width: 400px) {
    .verDadosTurma, .opcoesDadosTur {
        width: 95%;
        font-size: .8rem;
    }
}
@media screen and (max-width: 300px) {
    .verDadosTurma, .opcoesDadosTur {
        font-size: .7rem;
    }
}