.cadComp {
    min-height: 100%;
    gap: 10;
    padding: 20px 60px;
    box-sizing: border-box;
}

.formCadComp {
    min-height: 60%;
    margin: 70px auto;
    width: 80%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.851);
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(51, 51, 51, 0.507);
    padding: 20px;
    box-sizing: border-box;
}

.formCadComp form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 60%;
}

form .columnsFather {
    margin: 0 auto;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.columnSon {
    max-width: 45%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.selectField {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    color: #706f6f;
}
.selectField option {
    padding: 10px;
    color: black;
  }

.columnSon label {
    height: 50px;
    width: 80%;
    padding: 8px;
    font-size: 1.1em;
}
.columnSon input[type="text"], .columnSon select{
    width: 95%;
}
.columnSon input[type="checkbox"] {
    margin-right: 3px;
}

.footerCad {
    display: flex;
    justify-content: flex-end;
    float: left;
    gap: 10px;
}

.edColun {
    position: relative;
}

#ed1 {
    position: absolute;
    top: 30px;
    margin-top: 11px;
    height: 36px;
}
@media screen and (max-width: 820px) {
    .columnSon{
        gap: 10px;
    }
    .columnSon label {
        width: 90%;
    }

}
@media screen and (max-width: 690px) {
    .columnSon label {
        width: 95%;
    }
    .columnSon input[type="text"], .columnSon select{
        width: 85%;
        font-size: 0.9em;
    }
}
@media screen and (max-width: 625px) {
    .cadComp{
        grid-template-rows: 60px 550px;
    }
}
@media screen and (max-width: 575px) {
    .cadComp{
        grid-template-rows: 60px 600px;
    }
}