.edProf{
    display: grid;
    max-height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 200px;
    grid-template-areas: 
        'title title'
        'edicao edicao'
    ;
    gap: 10px;
    padding: 20px 60px;
    box-sizing: border-box;
}

.editarProf{
    grid-area: edicao;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #faf7f7;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 2px 3px 10px rgba(51, 51, 51, 0.507);
    padding: 10px;
    box-sizing: border-box;
}


.editarProf form {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    box-sizing: border-box;
}

.editarProf input[type="text"] {
    padding: 10px;
    width: 85%;
    font-size: 16px;
}



@media screen and (max-width: 700px){
    .edProf{
        grid-template-rows: 60px 250px ;
    }
    .editarProf form{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            'input input'
            'botao1 botao2'
        ;

    }
    .editarProf input[type="text"] {
        grid-area: input;
        width: 100%;
    }
    #cancel{
        grid-area: botao1;
    }
    #cad{
        grid-area: botao2;
    }
}
@media screen and (max-width: 630px){
    .edProf{
        grid-template-rows: 60px 300px ;
    }
    .editarProf form{
        margin-top: 20px;
    }
}