@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
.imgFundo {
    background-image: url('../../imgs/ufersaFiltro.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
    max-width: 100%;
    margin: 0 auto;
}
.home{
    display: flex;
    align-items: center;
}
.home h1 {
    font-family: 'Goldman', cursive;
    font-size: 6em;
    margin-right: 10px;
    font-feature-settings: "aalt";
    text-align: end;
    color: white;
}   
