header{
    background-color: hsla(223, 100%, 50%, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    color: white;
}
.imgLogo{
    display: flex;
    align-items: center;
}
.imgLogo img{
    width: 180px;
    height: 30px;
}
.dataLocal{
    display: flex;
}
.dataLocal i {
    display: flex;
    align-items: center;
    margin-right: 5px;
}