header{
    background-color: #0048ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 15px 80px;
    color: white;
    position: relative;
}

.imgLogo{
    display: flex;
    align-items: center;
}
.imgLogo img{
    width: 180px;
    height: 30px;
}
.dataLocal{
    display: flex;
}
.dataLocal i {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.dataAndLocal{
    display: flex;
    justify-content: space-around;
}
.loginOrLogout i{
    margin-left: 30px;
    font-size: 25px;
    color: white;
}