footer{
    background-color: #243E6A ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 80px;
    color: white;
}
.logoFooter{
    display: flex;
    align-items: center;
}
.logoFooter img{
    width: 180px;
    height: 30px;
}
.linha{
    color: white;
    height: 40px;
    width: 5px;
    border-radius: 5px;
}
hr{
    height:40px;
    width: 5px;
    border-radius: 8px;
    margin-right: 5px;
    color:#fff;
    background-color: #fff;
   }
.ufersa h3{
    margin-left: 6px;
}
@media(max-width: 770px){
    footer{
        justify-content: space-between;
        padding: 10px 5px;
    }
    .ufersa h3{
        font-size: 1em;
    }
}