* {
  padding: 0px;
  margin: 0px;
}

:root {
  --color1: ;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E1E6FA;
  /* background-color: #F0F0F0; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#entidades {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 87.2vh;
  grid-template-areas: 'menulateral conteudo';
}

#menu {
  grid-area: menulateral;
}

.conteudo {
  grid-area: conteudo;

}
.erroCad{
  grid-area: mensagem;
  text-align:start;
  color: rgb(157, 3, 3);
  font-weight: bold;
  max-width: 450px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 2px;
}
.cadSucess{
  grid-area: mensagem;
  text-align:start;
  color: rgb(2, 98, 2);
  font-weight: bold;
  margin-top: 5px;
  padding: 5px;
  border-radius: 2px; 
} 