.listarTurmas {
    min-height: 100%;
    padding: 20px 60px;
    box-sizing: border-box;
}

.listarTurmas>table {
    margin: 70px auto;
    min-height: 90px;
}

#nenhumaTurma {
    margin: 0px auto;
    padding-left: 10px;
    text-align: center;
    font-size: 1.2em;
}

.listarTurmas .colHorarios {
    width: 150px;
    text-align: center;
}

.listarTurmas .colDias {
    width: 200px;
    text-align: center;
} 
.listarTurmas .centralizarTexto{
    text-align: center;
}
.listarTurmas .nomeComponente{
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.tabelaTurmas .funcoesIndex{
    width: 55px;
}
.tabelaTurmas .horarioss{
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
    .colDias{
        max-width: 170px;
    }
    .tabelaTurmas .funcoesIndex{
        width: 50px;
    }
}
@media screen and (max-width: 1000px) {
    .colHorarios, .colDias{
        max-width: 130px;
    }
    .tabelaTurmas .funcoesIndex{
        width: 45px;
    }
}
@media screen and (max-width: 850px) {
    .colHorarios, .colDias{
        max-width: 110px;
        font-size: 0.9em;
    }
    .tabelaTurmas{
        font-size: 0.9em;
    }
    .tabelaTurmas .funcoesIndex{
        width: 40px;
    }
    
}
@media screen and (max-width: 700px) {
    .colHorarios, .colDias{
        max-width: 80px;
    }
    .tabelaTurmas .funcoesIndex{
        width: 35px;
    }
    .tabelaTurmas .nomeComponente{
        width: 170px;
    }
    
    
}
@media screen and (max-width: 600px) {
    .colHorarios, .colDias{
        max-width: 70px;
        font-size: 0.8em;
    }
    .tabelaTurmas{
        font-size: 0.7em;
    }
    .tabelaTurmas .funcoesIndex{
        max-width: 10%;
        padding: 0px 5px 0px 5px;
    }
    .tabelaTurmas .primeiraColuna{
        max-width: 20%;
    }
    .tabelaTurmas .nomeComponente{
        max-width: 20%;      
    }
    .tabelaTurmas .horarioss{
        max-width: 20%;      
    }
    .tabelaTurmas .numerTurma{
        max-width: 10%;      
    }
    
}