.listarTurmas{
    min-height: 100%;
    display: grid;
    grid-template-rows: 50px 50px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'titulo titulo'
        'busca busca'
        'lista lista'
    ;
    gap: 10px;
    padding: 20px 60px;
    box-sizing: border-box;
}
.listarTurmas > h1{
    grid-area: titulo;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.listarTurmas > table{
    grid-area: lista;
    max-height: 90px;
}
.listarTurmas #nenhumCOMP{
    grid-area: busca;
    padding-left: 10px;
}

.listarTurmas .centralizarTexto{
    text-align: center;
}
.listarTurmas .nomeComponente{
    max-width: 300px;
    padding-left: 4px;

    word-wrap: break-word;
    box-sizing: border-box;
}
.listarTurmas .funcoesIndex{
    width: 6%;
}